<div>
        <form method="post" action="/add"  enctype="application/json">
            <div>
                <input class="text-field__input" id="name" name="name" type="text"placeholder="Name">
                <input class="text-field__input" id="phone_number" name="phone_number" type="text" placeholder="Phone">
            </div>
            <div>
                <input class="btn" type="submit" value="add_item">
                <input class="btn" type="button" value="dismiss" onclick="{{Back}}">  
            </div>
        </form>
    </div>